<a href="https://colab.research.google.com/github/zxxoxnee/Machine-Learning/blob/master/pandas%2C_%ED%85%8C%EC%9D%B4%EB%B8%94%EC%9D%84_%EB%8B%A4%EB%A3%A8%EB%8A%94_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_%EB%8F%84%EA%B5%AC_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas, 테이블을 다루는 데이터 분석 도구

In [ ]:
# numpy, pandas 임포트
import numpy as np
import pandas as pd

## 데이터 준비
### **먼저 아래 링크에서 stock.adj_close.csv 파일을 다운로드 받고, colab에 업로드합니다.**
#### https://drive.google.com/file/d/1AnWjtW9bdIqBEnxeOMfST_Pxx2IVQfMJ/view?usp=sharing

##### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 주가 데이터를 불러오고, series 하나를 고릅니다.

In [ ]:
주가_데이터 = pd.read_csv('stock.adj_close.csv', index_col=0)
my_series = 주가_데이터.loc['A005930']['2020-09-09':]

In [ ]:
my_series

##### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 주가 데이터에서 dataframe 하나를 추출합니다.

In [ ]:
my_df = 주가_데이터.T.loc['2020-09-09':,'A005900':'A006000']

In [ ]:
my_df

## pandas 기본 1. 『 Series 』 행×값 데이터

In [ ]:
my_series    # Series

In [ ]:
my_series.index    # Series의 인덱스 보기

In [ ]:
my_series.name    # Series의 이름 보기

In [ ]:
type(my_series)    # 타입 확인하기

## pandas 기본 2. 『 Series 』   접근, 연산, 생성

In [ ]:
my_series.loc['2020-09-15']   # 인덱스로 접근

In [ ]:
my_series.iloc[4]    # 배열 번호로 접근

In [ ]:
my_series.loc['2020-09-15':'2020-09-17']  # 인덱스로 Slicing

In [ ]:
my_series.iloc[4:7]    # 배열 번호로 Slicing (끝 포함 X)

In [ ]:
my_series.iloc[4:] + my_series.iloc[4:]

In [ ]:
my_series.loc['2020-09-15'::2] + 30000  # Scalar Broadcasting

In [ ]:
my_series.iloc[4:].mean()    # 평균 aggregation

In [ ]:
new_sr = pd.Series([11,22,3,45], name='apple',
                   index=['a','b','xs','e11'])
new_sr

## pandas 기본 3. 『 DataFrame 』 행×열 데이터

In [ ]:
my_df

## pandas 기본 4. 『 DataFrame 』  접근

In [ ]:
my_df.loc['2020-09-15', 'A005930']   # .loc 단일 원소 접근

In [ ]:
# .loc [ 인덱스, 컬럼 slice ] 로 접근  →  Series 반환
my_df.loc['2020-09-15', 'A005930':'A005950']

In [ ]:
# .loc [ 인덱스 slice, 컬럼이름 ] 으로 접근  →  Series 반환
my_df.loc['2020-09-15':'2020-09-18', 'A005930']

In [ ]:
#  .loc [ index slice, column slice ]  →  DataFrame 반환
my_df.loc['2020-09-14':'2020-09-18':2, 'A005940':'A005980']

In [ ]:
# .iloc [ index, column slice ]  으로 접근  →  Series 반환
my_df.iloc[0, 3:]

In [ ]:
#  .iloc [ index slice, column slice ]  →  DataFrame 반환
my_df.iloc[4:7:2, 1:4]

In [ ]:
my_df

### <연습문제>
my_df에서 A005950 종목의  2020-09-16의 주가를 뽑아보세요

### <연습문제>
my_df에서 A005950 종목의  2020-09-10 ~ 2020-09-15 의 주가를 뽑아보세요

### <연습문제>
my_df에서 A005930과 A005950 종목의  2020-09-10 ~ 2020-09-17 의 주가를 **이틀 간격**으로 뽑아보세요

## pandas 기본 5. 『 DataFrame 』  접근 2,  연산

In [ ]:
# ::으로 모든 원소 지칭
my_df.loc[::, 'A005930']

In [ ]:
# : 한번만 사용 가능
my_df.iloc[5, :]

In [ ]:
# shape 보기
my_df.iloc[5, :].shape

In [ ]:
my_df.iloc[5:, ::3]

In [ ]:
my_df.iloc[5:, ::3].shape

In [ ]:
my_df.iloc[::4].loc[:, 'A005950':]

In [ ]:
my_df.loc['2020-09-09'::4].iloc[:,2:]

In [ ]:
my_df_2 = my_df.loc[:'2020-09-11','A005960':]

In [ ]:
my_df_2

In [ ]:
my_df_2 * 1.30   # Broadcasting

In [ ]:
my_df_2.mean(axis=0)  # 평균 Agg

### <연습문제>
my_df에서 A005950종목의 전체 기간의 주가의 평균을 구해보시오

### <연습문제>
my_df에서 A005980종목 2020-09-14 이후 주가의 일별 상한가를 구해보세요 (상한가: 30% 상승)

### <연습문제>
my_df에서 모든 종목의 2020-09-17 ~ 2020-09-24 기간의 수익률을 구해보세요 (% 단위)

## pandas 기본 6. 『 DataFrame 』  연산 2,  정렬

In [ ]:
my_df_2.notna()

In [ ]:
my_df_2.sum(axis=0)

In [ ]:
my_df_2.median(axis=1)

In [ ]:
my_df_2.cumsum(axis=0)

In [ ]:
my_df_2.sort_values('A005960', axis=0, ascending=True)

In [ ]:
my_df_2.sort_values('2020-09-11', axis='columns', ascending=True)

In [ ]:
my_df_2.rank(axis=0, ascending=False)

### <연습문제>
my_df에서 2020-09-16일자의 주가 들을 내림차순 순서로 정렬해보세요

### <연습문제>
my_df에서 2020-09-09 ~ 2020-09-18 의 전 종목 수익률을 계산하여 순위를 출력해보세요 (수익률 높은 순)  
9/9 종가 매수 ~ 9/18 종가 매도

## pandas 기본 7. 『 DataFrame 』  만들기,  행 열 추가하기

In [ ]:
# 데이터 인덱스, 컬럼으로 DataFrame 생성하기
pd.DataFrame([[0,1,2],[3,4,5]], 
             index=['00','11'],
             columns=['a','b','c'])

In [ ]:
# 넘파이 배열로 DataFrame 생성하기
pd.DataFrame(np.ones((3,5)))

In [ ]:
trafic_data = pd.DataFrame(
    [[9800,5500],[10200,6600]],
    index=['10/22','10/23'],
    columns=['원티드','사람인'])
trafic_data   # trafic_data 라는 DataFrame 생성

### 새로운 열 추가

In [ ]:
# 새로운 '잡플래닛' 열 (빈 데이터) 추가하기
trafic_data.loc[:,'잡플래닛'] = np.nan
trafic_data

In [ ]:
# 새로운 '잡코리아' 열 데이터 추가하기
trafic_data.loc[:,'잡코리아'] = [980, 1020]
trafic_data

In [ ]:
# 숫자를 하나만 주면 broadcast 된다.
trafic_data.loc[:,'스펙업'] = 20000
trafic_data

### 새로운 행 추가

In [ ]:
# 새로운 10/24 행 데이터추가하기
trafic_data.loc['10/24'] = [12500,4520,3000,
                           780, 21000]
trafic_data

In [ ]:
# 값을 하나만 지정하면, broadcast 된다
trafic_data.loc['10/25'] = 2000
trafic_data

In [ ]:
trafic_data.loc['10/22', '잡플래닛'] = 99
trafic_data

### <연습문제>
trafic_data에  '중고나라' 열 데이터를 추가하고, 50000으로 값을 지정해주세요

### <연습문제>
trafic_data의  '중고나라', 10/24, 10/25 트래픽을 75000의 값을 지정해주세요

## 데이터 파일 불러오기, csv파일로 저장하기

In [ ]:
my_df_2

In [ ]:
# dataframe을 csv 파일로 저장
my_df_2.to_csv('my_df_2.csv')

# 한글이 포함된 경우, 엑셀을 위해 인코딩 지정
my_df_2.to_csv('my_df_2.csv', encoding='cp949')

In [ ]:
# csv 파일을 dataframe으로 불러오기
readed_df = pd.read_csv('my_df_2.csv')

# encoding 지정하여 한글이 포함된 csv 파일 불러오기
readed_df = pd.read_csv('my_df_2.csv', encoding='cp949',
                       index_col=0)
readed_df