<a href="https://colab.research.google.com/github/zxxoxnee/Machine-Learning/blob/master/pandas%2C_%ED%85%8C%EC%9D%B4%EB%B8%94%EC%9D%84_%EB%8B%A4%EB%A3%A8%EB%8A%94_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_%EB%8F%84%EA%B5%AC_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# pandas, 테이블을 다루는 데이터 분석 도구

In [2]:
# numpy, pandas 임포트
import numpy as np
import pandas as pd

## 데이터 준비
### **먼저 아래 링크에서 stock.adj_close.csv 파일을 다운로드 받고, colab에 업로드합니다.**
#### https://drive.google.com/file/d/1AnWjtW9bdIqBEnxeOMfST_Pxx2IVQfMJ/view?usp=sharing

##### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 주가 데이터를 불러오고, series 하나를 고릅니다.

In [4]:
주가_데이터 = pd.read_csv('stock.adj_close.csv', index_col=0)
my_series = 주가_데이터.loc['A005930']['2020-09-09':]

In [5]:
my_series

2020-09-09    58400.0
2020-09-10    59200.0
2020-09-11    59000.0
2020-09-14    60400.0
2020-09-15    61000.0
2020-09-16    61000.0
2020-09-17    59500.0
2020-09-18    59300.0
2020-09-21    59200.0
2020-09-22    58200.0
2020-09-23    58600.0
2020-09-24    57800.0
2020-09-25    57900.0
2020-09-28    58200.0
2020-09-29    58200.0
2020-10-05    58700.0
2020-10-06    59000.0
2020-10-07    59900.0
2020-10-08    59700.0
2020-10-12    60400.0
2020-10-13    60900.0
2020-10-14    60900.0
Name: A005930, dtype: float64

##### &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 주가 데이터에서 dataframe 하나를 추출합니다.

In [6]:
my_df = 주가_데이터.T.loc['2020-09-09':,'A005900':'A006000']

In [7]:
my_df

Symbol      A005930  A005940  A005950  A005960  A005980  A005990
2020-09-09  58400.0   9190.0   9080.0  11000.0    671.0   7990.0
2020-09-10  59200.0   9280.0   9280.0  11150.0    671.0   7960.0
2020-09-11  59000.0   9270.0   9360.0  11050.0    671.0   8120.0
2020-09-14  60400.0   9370.0   9400.0  11200.0    671.0   8200.0
2020-09-15  61000.0   9470.0   9390.0  11350.0    671.0   8180.0
2020-09-16  61000.0   9530.0   9080.0  11250.0    671.0   8180.0
2020-09-17  59500.0   9320.0   8880.0  11000.0    671.0   8000.0
2020-09-18  59300.0   9320.0   9070.0  10850.0    671.0   8020.0
2020-09-21  59200.0   9200.0   8880.0  10700.0    671.0   7970.0
2020-09-22  58200.0   9040.0   8580.0  10600.0    671.0   7890.0
2020-09-23  58600.0   9060.0   8500.0  10750.0    671.0   7890.0
2020-09-24  57800.0   8940.0   8280.0  10500.0    671.0   7710.0
2020-09-25  57900.0   9070.0   8300.0  10500.0    671.0   7860.0
2020-09-28  58200.0   9080.0   8530.0  10800.0    671.0   7940.0
2020-09-29  58200.0   9140.0   8670.0  10900.0    671.0   7950.0
2020-10-05  58700.0   9400.0   8880.0  11050.0    671.0   8010.0
2020-10-06  59000.0   9280.0  11500.0  10950.0    671.0   7990.0
2020-10-07  59900.0   9370.0  11550.0  10950.0    671.0   8010.0
2020-10-08  59700.0   9390.0  11800.0  10900.0    671.0   8010.0
2020-10-12  60400.0   9510.0  11700.0  11200.0    671.0   8010.0
2020-10-13  60900.0   9450.0  12300.0  11200.0    671.0   7980.0
2020-10-14  60900.0   9350.0  11600.0  11150.0    671.0   7890.0

## pandas 기본 1. 『 Series 』 행×값 데이터

In [8]:
my_series    # Series

2020-09-09    58400.0
2020-09-10    59200.0
2020-09-11    59000.0
2020-09-14    60400.0
2020-09-15    61000.0
2020-09-16    61000.0
2020-09-17    59500.0
2020-09-18    59300.0
2020-09-21    59200.0
2020-09-22    58200.0
2020-09-23    58600.0
2020-09-24    57800.0
2020-09-25    57900.0
2020-09-28    58200.0
2020-09-29    58200.0
2020-10-05    58700.0
2020-10-06    59000.0
2020-10-07    59900.0
2020-10-08    59700.0
2020-10-12    60400.0
2020-10-13    60900.0
2020-10-14    60900.0
Name: A005930, dtype: float64

In [9]:
my_series.index    # Series의 인덱스 보기

Index(['2020-09-09', '2020-09-10', '2020-09-11', '2020-09-14', '2020-09-15',
       '2020-09-16', '2020-09-17', '2020-09-18', '2020-09-21', '2020-09-22',
       '2020-09-23', '2020-09-24', '2020-09-25', '2020-09-28', '2020-09-29',
       '2020-10-05', '2020-10-06', '2020-10-07', '2020-10-08', '2020-10-12',
       '2020-10-13', '2020-10-14'],
      dtype='object')

In [10]:
my_series.name    # Series의 이름 보기

'A005930'

In [11]:
type(my_series)    # 타입 확인하기

pandas.core.series.Series

## pandas 기본 2. 『 Series 』   접근, 연산, 생성

In [12]:
my_series.loc['2020-09-15']   # 인덱스로 접근

61000.0

In [13]:
my_series.iloc[4]    # 배열 번호로 접근

61000.0

In [14]:
my_series.loc['2020-09-15':'2020-09-17']  # 인덱스로 Slicing

2020-09-15    61000.0
2020-09-16    61000.0
2020-09-17    59500.0
Name: A005930, dtype: float64

In [15]:
my_series.iloc[4:7]    # 배열 번호로 Slicing (끝 포함 X)

2020-09-15    61000.0
2020-09-16    61000.0
2020-09-17    59500.0
Name: A005930, dtype: float64

In [21]:
my_series.iloc[4:] + my_series.iloc[4:]

2020-09-15    122000.0
2020-09-16    122000.0
2020-09-17    119000.0
2020-09-18    118600.0
2020-09-21    118400.0
2020-09-22    116400.0
2020-09-23    117200.0
2020-09-24    115600.0
2020-09-25    115800.0
2020-09-28    116400.0
2020-09-29    116400.0
2020-10-05    117400.0
2020-10-06    118000.0
2020-10-07    119800.0
2020-10-08    119400.0
2020-10-12    120800.0
2020-10-13    121800.0
2020-10-14    121800.0
Name: A005930, dtype: float64

In [17]:
my_series.loc['2020-09-15'::2] + 30000  # Scalar Broadcasting

2020-09-15    91000.0
2020-09-17    89500.0
2020-09-21    89200.0
2020-09-23    88600.0
2020-09-25    87900.0
2020-09-29    88200.0
2020-10-06    89000.0
2020-10-08    89700.0
2020-10-13    90900.0
Name: A005930, dtype: float64

In [22]:
my_series.iloc[4:].mean()    # 평균 aggregation , mean (평균이라는 뜻)

59355.555555555555

In [19]:
new_sr = pd.Series([11,22,3,45], name='apple',
                   index=['a','b','xs','e11'])
new_sr

a      11
b      22
xs      3
e11    45
Name: apple, dtype: int64

## pandas 기본 3. 『 DataFrame 』 행×열 데이터

In [20]:
my_df

Symbol      A005930  A005940  A005950  A005960  A005980  A005990
2020-09-09  58400.0   9190.0   9080.0  11000.0    671.0   7990.0
2020-09-10  59200.0   9280.0   9280.0  11150.0    671.0   7960.0
2020-09-11  59000.0   9270.0   9360.0  11050.0    671.0   8120.0
2020-09-14  60400.0   9370.0   9400.0  11200.0    671.0   8200.0
2020-09-15  61000.0   9470.0   9390.0  11350.0    671.0   8180.0
2020-09-16  61000.0   9530.0   9080.0  11250.0    671.0   8180.0
2020-09-17  59500.0   9320.0   8880.0  11000.0    671.0   8000.0
2020-09-18  59300.0   9320.0   9070.0  10850.0    671.0   8020.0
2020-09-21  59200.0   9200.0   8880.0  10700.0    671.0   7970.0
2020-09-22  58200.0   9040.0   8580.0  10600.0    671.0   7890.0
2020-09-23  58600.0   9060.0   8500.0  10750.0    671.0   7890.0
2020-09-24  57800.0   8940.0   8280.0  10500.0    671.0   7710.0
2020-09-25  57900.0   9070.0   8300.0  10500.0    671.0   7860.0
2020-09-28  58200.0   9080.0   8530.0  10800.0    671.0   7940.0
2020-09-29  58200.0   9140.0   8670.0  10900.0    671.0   7950.0
2020-10-05  58700.0   9400.0   8880.0  11050.0    671.0   8010.0
2020-10-06  59000.0   9280.0  11500.0  10950.0    671.0   7990.0
2020-10-07  59900.0   9370.0  11550.0  10950.0    671.0   8010.0
2020-10-08  59700.0   9390.0  11800.0  10900.0    671.0   8010.0
2020-10-12  60400.0   9510.0  11700.0  11200.0    671.0   8010.0
2020-10-13  60900.0   9450.0  12300.0  11200.0    671.0   7980.0
2020-10-14  60900.0   9350.0  11600.0  11150.0    671.0   7890.0

## pandas 기본 4. 『 DataFrame 』  접근

In [23]:
my_df.loc['2020-09-15', 'A005930']   # .loc 단일 원소 접근

61000.0

In [24]:
# .loc [ 인덱스, 컬럼 slice ] 로 접근  →  Series 반환
my_df.loc['2020-09-15', 'A005930':'A005950']

Symbol
A005930    61000.0
A005940     9470.0
A005950     9390.0
Name: 2020-09-15, dtype: float64

In [25]:
# .loc [ 인덱스 slice, 컬럼이름 ] 으로 접근  →  Series 반환
my_df.loc['2020-09-15':'2020-09-18', 'A005930']

2020-09-15    61000.0
2020-09-16    61000.0
2020-09-17    59500.0
2020-09-18    59300.0
Name: A005930, dtype: float64

In [26]:
#  .loc [ index slice, column slice ]  →  DataFrame 반환
my_df.loc['2020-09-14':'2020-09-18':2, 'A005940':'A005980']

Symbol      A005940  A005950  A005960  A005980
2020-09-14   9370.0   9400.0  11200.0    671.0
2020-09-16   9530.0   9080.0  11250.0    671.0
2020-09-18   9320.0   9070.0  10850.0    671.0

In [27]:
# .iloc [ index, column slice ]  으로 접근  →  Series 반환
my_df.iloc[0, 3:]

Symbol
A005960    11000.0
A005980      671.0
A005990     7990.0
Name: 2020-09-09, dtype: float64

In [28]:
#  .iloc [ index slice, column slice ]  →  DataFrame 반환
my_df.iloc[4:7:2, 1:4]

Symbol      A005940  A005950  A005960
2020-09-15   9470.0   9390.0  11350.0
2020-09-17   9320.0   8880.0  11000.0

In [29]:
my_df

Symbol      A005930  A005940  A005950  A005960  A005980  A005990
2020-09-09  58400.0   9190.0   9080.0  11000.0    671.0   7990.0
2020-09-10  59200.0   9280.0   9280.0  11150.0    671.0   7960.0
2020-09-11  59000.0   9270.0   9360.0  11050.0    671.0   8120.0
2020-09-14  60400.0   9370.0   9400.0  11200.0    671.0   8200.0
2020-09-15  61000.0   9470.0   9390.0  11350.0    671.0   8180.0
2020-09-16  61000.0   9530.0   9080.0  11250.0    671.0   8180.0
2020-09-17  59500.0   9320.0   8880.0  11000.0    671.0   8000.0
2020-09-18  59300.0   9320.0   9070.0  10850.0    671.0   8020.0
2020-09-21  59200.0   9200.0   8880.0  10700.0    671.0   7970.0
2020-09-22  58200.0   9040.0   8580.0  10600.0    671.0   7890.0
2020-09-23  58600.0   9060.0   8500.0  10750.0    671.0   7890.0
2020-09-24  57800.0   8940.0   8280.0  10500.0    671.0   7710.0
2020-09-25  57900.0   9070.0   8300.0  10500.0    671.0   7860.0
2020-09-28  58200.0   9080.0   8530.0  10800.0    671.0   7940.0
2020-09-29  58200.0   9140.0   8670.0  10900.0    671.0   7950.0
2020-10-05  58700.0   9400.0   8880.0  11050.0    671.0   8010.0
2020-10-06  59000.0   9280.0  11500.0  10950.0    671.0   7990.0
2020-10-07  59900.0   9370.0  11550.0  10950.0    671.0   8010.0
2020-10-08  59700.0   9390.0  11800.0  10900.0    671.0   8010.0
2020-10-12  60400.0   9510.0  11700.0  11200.0    671.0   8010.0
2020-10-13  60900.0   9450.0  12300.0  11200.0    671.0   7980.0
2020-10-14  60900.0   9350.0  11600.0  11150.0    671.0   7890.0

### <연습문제>
my_df에서 A005950 종목의  2020-09-16의 주가를 뽑아보세요

In [31]:
my_df.loc['2020-09-16', 'A005950']

9080.0

### <연습문제>
my_df에서 A005950 종목의  2020-09-10 ~ 2020-09-15 의 주가를 뽑아보세요

In [34]:
my_df.loc['2020-09-10':'2020-09-15','A005950']

2020-09-10    9280.0
2020-09-11    9360.0
2020-09-14    9400.0
2020-09-15    9390.0
Name: A005950, dtype: float64

### <연습문제>
my_df에서 A005930과 A005950 종목의  2020-09-10 ~ 2020-09-17 의 주가를 **이틀 간격**으로 뽑아보세요

In [35]:
my_df.loc['2020-09-10':'2020-09-17':2,'A005930':'A005950']

Symbol      A005930  A005940  A005950
2020-09-10  59200.0   9280.0   9280.0
2020-09-14  60400.0   9370.0   9400.0
2020-09-16  61000.0   9530.0   9080.0

## pandas 기본 5. 『 DataFrame 』  접근 2,  연산

In [36]:
# ::으로 모든 원소 지칭
my_df.loc[::, 'A005930']

2020-09-09    58400.0
2020-09-10    59200.0
2020-09-11    59000.0
2020-09-14    60400.0
2020-09-15    61000.0
2020-09-16    61000.0
2020-09-17    59500.0
2020-09-18    59300.0
2020-09-21    59200.0
2020-09-22    58200.0
2020-09-23    58600.0
2020-09-24    57800.0
2020-09-25    57900.0
2020-09-28    58200.0
2020-09-29    58200.0
2020-10-05    58700.0
2020-10-06    59000.0
2020-10-07    59900.0
2020-10-08    59700.0
2020-10-12    60400.0
2020-10-13    60900.0
2020-10-14    60900.0
Name: A005930, dtype: float64

In [37]:
# : 한번만 사용 가능
my_df.iloc[5, :]

Symbol
A005930    61000.0
A005940     9530.0
A005950     9080.0
A005960    11250.0
A005980      671.0
A005990     8180.0
Name: 2020-09-16, dtype: float64

In [38]:
# shape 보기
my_df.iloc[5, :].shape

(6,)

In [39]:
my_df.iloc[5:, ::3]

Symbol      A005930  A005960
2020-09-16  61000.0  11250.0
2020-09-17  59500.0  11000.0
2020-09-18  59300.0  10850.0
2020-09-21  59200.0  10700.0
2020-09-22  58200.0  10600.0
2020-09-23  58600.0  10750.0
2020-09-24  57800.0  10500.0
2020-09-25  57900.0  10500.0
2020-09-28  58200.0  10800.0
2020-09-29  58200.0  10900.0
2020-10-05  58700.0  11050.0
2020-10-06  59000.0  10950.0
2020-10-07  59900.0  10950.0
2020-10-08  59700.0  10900.0
2020-10-12  60400.0  11200.0
2020-10-13  60900.0  11200.0
2020-10-14  60900.0  11150.0

In [40]:
my_df.iloc[5:, ::3].shape

(17, 2)

In [41]:
my_df.iloc[::4].loc[:, 'A005950':]

Symbol      A005950  A005960  A005980  A005990
2020-09-09   9080.0  11000.0    671.0   7990.0
2020-09-15   9390.0  11350.0    671.0   8180.0
2020-09-21   8880.0  10700.0    671.0   7970.0
2020-09-25   8300.0  10500.0    671.0   7860.0
2020-10-06  11500.0  10950.0    671.0   7990.0
2020-10-13  12300.0  11200.0    671.0   7980.0

In [42]:
my_df.loc['2020-09-09'::4].iloc[:,2:]

Symbol      A005950  A005960  A005980  A005990
2020-09-09   9080.0  11000.0    671.0   7990.0
2020-09-15   9390.0  11350.0    671.0   8180.0
2020-09-21   8880.0  10700.0    671.0   7970.0
2020-09-25   8300.0  10500.0    671.0   7860.0
2020-10-06  11500.0  10950.0    671.0   7990.0
2020-10-13  12300.0  11200.0    671.0   7980.0

In [43]:
my_df_2 = my_df.loc[:'2020-09-11','A005960':]

In [44]:
my_df_2

Symbol      A005960  A005980  A005990
2020-09-09  11000.0    671.0   7990.0
2020-09-10  11150.0    671.0   7960.0
2020-09-11  11050.0    671.0   8120.0

In [45]:
my_df_2 * 1.30   # Broadcasting

Symbol      A005960  A005980  A005990
2020-09-09  14300.0    872.3  10387.0
2020-09-10  14495.0    872.3  10348.0
2020-09-11  14365.0    872.3  10556.0

In [46]:
my_df_2.mean(axis=0)  # 평균 Agg

Symbol
A005960    11066.666667
A005980      671.000000
A005990     8023.333333
dtype: float64

### <연습문제>
my_df에서 A005950종목의 전체 기간의 주가의 평균을 구해보시오

In [69]:
my_df.loc[:,'A005950'].mean() #loc는 대괄호, mean함수엔 꼭 axis 들어갈 필요는 없다.

9664.09090909091

### <연습문제>
my_df에서 A005980종목 2020-09-14 이후 주가의 일별 상한가를 구해보세요 (상한가: 30% 상승)

In [70]:
#상한가 30%는 *1.30 하면 된다 
my_df.loc['2020-09-14': ,'A005980']*1.30

2020-09-14    872.3
2020-09-15    872.3
2020-09-16    872.3
2020-09-17    872.3
2020-09-18    872.3
2020-09-21    872.3
2020-09-22    872.3
2020-09-23    872.3
2020-09-24    872.3
2020-09-25    872.3
2020-09-28    872.3
2020-09-29    872.3
2020-10-05    872.3
2020-10-06    872.3
2020-10-07    872.3
2020-10-08    872.3
2020-10-12    872.3
2020-10-13    872.3
2020-10-14    872.3
Name: A005980, dtype: float64

### <연습문제>
my_df에서 모든 종목의 2020-09-17 ~ 2020-09-24 기간의 수익률을 구해보세요 (% 단위)

In [75]:
(my_df.loc['2020-09-17']/my_df.loc['2020-09-24']-1)*100 
#오답 문제임

Symbol
A005930    2.941176
A005940    4.250559
A005950    7.246377
A005960    4.761905
A005980    0.000000
A005990    3.761349
dtype: float64

## pandas 기본 6. 『 DataFrame 』  연산 2,  정렬

In [76]:
my_df_2.notna() #유효여부

Symbol      A005960  A005980  A005990
2020-09-09     True     True     True
2020-09-10     True     True     True
2020-09-11     True     True     True

In [77]:
my_df_2.sum(axis=0) #합계

Symbol
A005960    33200.0
A005980     2013.0
A005990    24070.0
dtype: float64

In [78]:
my_df_2.median(axis=1) #중앙값

2020-09-09    7990.0
2020-09-10    7960.0
2020-09-11    8120.0
dtype: float64

In [80]:
my_df_2.cumsum(axis=0)  #누적덧셈

Symbol      A005960  A005980  A005990
2020-09-09  11000.0    671.0   7990.0
2020-09-10  22150.0   1342.0  15950.0
2020-09-11  33200.0   2013.0  24070.0

In [81]:
my_df_2.sort_values('A005960', axis=0, ascending=True) #정렬기준의 0 축을 기준으로 값 정렬

Symbol      A005960  A005980  A005990
2020-09-09  11000.0    671.0   7990.0
2020-09-11  11050.0    671.0   8120.0
2020-09-10  11150.0    671.0   7960.0

In [82]:
my_df_2.sort_values('2020-09-11', axis='columns', ascending=True) #정렬기준의 행 기준으로 값 정렬 , ascending의 True는 오름차순, False는 내림차순

Symbol      A005980  A005990  A005960
2020-09-09    671.0   7990.0  11000.0
2020-09-10    671.0   7960.0  11150.0
2020-09-11    671.0   8120.0  11050.0

In [83]:
my_df_2.rank(axis=0, ascending=False) #축의 방향으로 행 또는 열의 순위를 매긴다.

Symbol      A005960  A005980  A005990
2020-09-09      3.0      2.0      2.0
2020-09-10      1.0      2.0      3.0
2020-09-11      2.0      2.0      1.0

### <연습문제>
my_df에서 2020-09-16일자의 주가 들을 내림차순 순서로 정렬해보세요

In [88]:
my_df.sort_values('2020-09-16',axis='columns',ascending=False)

Symbol      A005930  A005960  A005940  A005950  A005990  A005980
2020-09-09  58400.0  11000.0   9190.0   9080.0   7990.0    671.0
2020-09-10  59200.0  11150.0   9280.0   9280.0   7960.0    671.0
2020-09-11  59000.0  11050.0   9270.0   9360.0   8120.0    671.0
2020-09-14  60400.0  11200.0   9370.0   9400.0   8200.0    671.0
2020-09-15  61000.0  11350.0   9470.0   9390.0   8180.0    671.0
2020-09-16  61000.0  11250.0   9530.0   9080.0   8180.0    671.0
2020-09-17  59500.0  11000.0   9320.0   8880.0   8000.0    671.0
2020-09-18  59300.0  10850.0   9320.0   9070.0   8020.0    671.0
2020-09-21  59200.0  10700.0   9200.0   8880.0   7970.0    671.0
2020-09-22  58200.0  10600.0   9040.0   8580.0   7890.0    671.0
2020-09-23  58600.0  10750.0   9060.0   8500.0   7890.0    671.0
2020-09-24  57800.0  10500.0   8940.0   8280.0   7710.0    671.0
2020-09-25  57900.0  10500.0   9070.0   8300.0   7860.0    671.0
2020-09-28  58200.0  10800.0   9080.0   8530.0   7940.0    671.0
2020-09-29  58200.0  10900.0   9140.0   8670.0   7950.0    671.0
2020-10-05  58700.0  11050.0   9400.0   8880.0   8010.0    671.0
2020-10-06  59000.0  10950.0   9280.0  11500.0   7990.0    671.0
2020-10-07  59900.0  10950.0   9370.0  11550.0   8010.0    671.0
2020-10-08  59700.0  10900.0   9390.0  11800.0   8010.0    671.0
2020-10-12  60400.0  11200.0   9510.0  11700.0   8010.0    671.0
2020-10-13  60900.0  11200.0   9450.0  12300.0   7980.0    671.0
2020-10-14  60900.0  11150.0   9350.0  11600.0   7890.0    671.0

### <연습문제>
my_df에서 2020-09-09 ~ 2020-09-18 의 전 종목 수익률을 계산하여 순위를 출력해보세요 (수익률 높은 순)  
9/9 종가 매수 ~ 9/18 종가 매도

In [93]:
my_df_2=(my_df.loc['2020-09-09']/my_df.loc['2020-09-18']-1)*100
my_df_2
my_df_2.rank(ascending = True)

#((my_df.loc['2020-09-09']/my_df.loc['2020-09-18']-1)*100).rank(ascending=True)

Symbol
A005930    1.0
A005940    2.0
A005950    5.0
A005960    6.0
A005980    4.0
A005990    3.0
dtype: float64

## pandas 기본 7. 『 DataFrame 』  만들기,  행 열 추가하기

In [94]:
# 데이터 인덱스, 컬럼으로 DataFrame 생성하기
pd.DataFrame([[0,1,2],[3,4,5]], 
             index=['00','11'],
             columns=['a','b','c'])

    a  b  c
00  0  1  2
11  3  4  5

In [95]:
# 넘파이 배열로 DataFrame 생성하기
pd.DataFrame(np.ones((3,5)))

     0    1    2    3    4
0  1.0  1.0  1.0  1.0  1.0
1  1.0  1.0  1.0  1.0  1.0
2  1.0  1.0  1.0  1.0  1.0

In [96]:
trafic_data = pd.DataFrame(
    [[9800,5500],[10200,6600]],
    index=['10/22','10/23'],
    columns=['원티드','사람인'])
trafic_data   # trafic_data 라는 DataFrame 생성

         원티드   사람인
10/22   9800  5500
10/23  10200  6600

### 새로운 열 추가

In [97]:
# 새로운 '잡플래닛' 열 (빈 데이터) 추가하기
trafic_data.loc[:,'잡플래닛'] = np.nan
trafic_data

         원티드   사람인  잡플래닛
10/22   9800  5500   NaN
10/23  10200  6600   NaN

In [98]:
# 새로운 '잡코리아' 열 데이터 추가하기
trafic_data.loc[:,'잡코리아'] = [980, 1020]
trafic_data

         원티드   사람인  잡플래닛  잡코리아
10/22   9800  5500   NaN   980
10/23  10200  6600   NaN  1020

In [99]:
# 숫자를 하나만 주면 broadcast 된다.
trafic_data.loc[:,'스펙업'] = 20000
trafic_data

         원티드   사람인  잡플래닛  잡코리아    스펙업
10/22   9800  5500   NaN   980  20000
10/23  10200  6600   NaN  1020  20000

### 새로운 행 추가

In [100]:
# 새로운 10/24 행 데이터추가하기
trafic_data.loc['10/24'] = [12500,4520,3000,
                           780, 21000]
trafic_data

         원티드   사람인    잡플래닛  잡코리아    스펙업
10/22   9800  5500     NaN   980  20000
10/23  10200  6600     NaN  1020  20000
10/24  12500  4520  3000.0   780  21000

In [101]:
# 값을 하나만 지정하면, broadcast 된다
trafic_data.loc['10/25'] = 2000
trafic_data

         원티드   사람인    잡플래닛  잡코리아    스펙업
10/22   9800  5500     NaN   980  20000
10/23  10200  6600     NaN  1020  20000
10/24  12500  4520  3000.0   780  21000
10/25   2000  2000  2000.0  2000   2000

In [102]:
trafic_data.loc['10/22', '잡플래닛'] = 99
trafic_data

         원티드   사람인    잡플래닛  잡코리아    스펙업
10/22   9800  5500    99.0   980  20000
10/23  10200  6600     NaN  1020  20000
10/24  12500  4520  3000.0   780  21000
10/25   2000  2000  2000.0  2000   2000

### <연습문제>
trafic_data에  '중고나라' 열 데이터를 추가하고, 50000으로 값을 지정해주세요

In [103]:
trafic_data.loc[:,'중고나라'] = 500000
trafic_data

         원티드   사람인    잡플래닛  잡코리아    스펙업    중고나라
10/22   9800  5500    99.0   980  20000  500000
10/23  10200  6600     NaN  1020  20000  500000
10/24  12500  4520  3000.0   780  21000  500000
10/25   2000  2000  2000.0  2000   2000  500000

### <연습문제>
trafic_data의  '중고나라', 10/24, 10/25 트래픽을 75000의 값을 지정해주세요

In [106]:
trafic_data.loc['10/24':, '중고나라']=75000
trafic_data

         원티드   사람인    잡플래닛  잡코리아    스펙업    중고나라
10/22   9800  5500    99.0   980  20000  500000
10/23  10200  6600     NaN  1020  20000  500000
10/24  12500  4520  3000.0   780  21000   75000
10/25   2000  2000  2000.0  2000   2000   75000

## 데이터 파일 불러오기, csv파일로 저장하기

In [107]:
my_df_2

Symbol
A005930   -1.517707
A005940   -1.394850
A005950    0.110254
A005960    1.382488
A005980    0.000000
A005990   -0.374065
dtype: float64

In [108]:
# dataframe을 csv 파일로 저장
my_df_2.to_csv('my_df_2.csv')

# 한글이 포함된 경우, 엑셀을 위해 인코딩 지정
my_df_2.to_csv('my_df_2.csv', encoding='cp949')

In [109]:
# csv 파일을 dataframe으로 불러오기
readed_df = pd.read_csv('my_df_2.csv')

# encoding 지정하여 한글이 포함된 csv 파일 불러오기
readed_df = pd.read_csv('my_df_2.csv', encoding='cp949',
                       index_col=0)
readed_df

                0
Symbol
A005930 -1.517707
A005940 -1.394850
A005950  0.110254
A005960  1.382488
A005980  0.000000
A005990 -0.374065