<a href="https://colab.research.google.com/github/zxxoxnee/Machine-Learning/blob/master/%EA%B3%A0%EA%B8%89_pandas_%ED%95%A8%EC%88%98%EB%93%A4_concat%2C_groupby%2C_query_ipynb%EC%9D%98_%EC%82%AC%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 고급 pandas 함수들 - concat, groupby, query

# 라이브러리 임포트

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()

plt.rcParams['font.family'] = 'Malgun Gothic'  # (Windows 용) 한글 출력을 위한 글꼴 설정
#plt.rcParams['font.family'] = 'AppleGothic'  # (MAC, 리눅스 용)

plt.rcParams['axes.unicode_minus'] = False    # 문자 - (마이너스) 정상 출력을 위한 코드

# 데이터 준비
### **먼저 아래의 세 파일을 다운로드 받고, colab에 업로드합니다.**
##### stock.adj_close.csv - https://drive.google.com/file/d/1AnWjtW9bdIqBEnxeOMfST_Pxx2IVQfMJ/view?usp=sharing
##### stockinfo.itemname.csv - https://drive.google.com/file/d/18pCREyPq41nK1VGSPZx5_RcL3D-sX4tB/view?usp=sharing
##### stockinfo.sector.csv - https://drive.google.com/file/d/1HN85HsUqDCPKL0ulfwDzDAK6mf5cRrQ_/view?usp=sharing

In [2]:
adj_close = pd.read_csv("stock.adj_close.csv", index_col=0, encoding='cp949', parse_dates=True)

In [3]:
itemname = pd.read_csv("stockinfo.itemname.csv", index_col=0, encoding='cp949')
sector = pd.read_csv("stockinfo.sector.csv", index_col=0, encoding='cp949')

stock_info = pd.concat([itemname, sector], axis=1)

# 고급 pandas 익히기

In [4]:
# 데이터 준비
df_a = stock_info.iloc[:14]
df_a

         itemname       Sector
Symbol
A000020      동화약품     제약_및_바이오
A000030      우리은행          NaN
A000040     KR모터스     자동차_및_부품
A000050        경방  내구_소비재_및_의류
A000060     메리츠화재           보험
A000070     삼양홀딩스           소재
A000080     하이트진로     음식료_및_담배
A000100      유한양행     제약_및_바이오
A000120    CJ대한통운           운송
A000140  하이트진로홀딩스     음식료_및_담배
A000150        두산          자본재
A000180    성창기업지주           소재
A000210      대림산업          자본재
A000220      유유제약     제약_및_바이오

In [5]:
df_b = adj_close.loc[:,'2020-10-13':].iloc[:14]
df_b

         2020-10-13  2020-10-14
Symbol
A000020     24300.0     23850.0
A000030     14800.0     14800.0
A000040       850.0       874.0
A000050     10850.0     10800.0
A000060     13700.0     13550.0
A000070     63000.0     61800.0
A000080     38700.0     38500.0
A000100     64100.0     63600.0
A000120    186500.0    180500.0
A000140     17300.0     17250.0
A000150     47500.0     47700.0
A000180      1715.0      1825.0
A000210     78300.0     76600.0
A000220     16600.0     16250.0

In [6]:
# .rename 함수를 이용, 딕셔너리로 컬럼 명을 바꿀 수 있습니다
df_b = df_b.rename(columns={
    '2020-10-13':'주가_10_13',
    '2020-10-14':'주가_10_14'
})
df_b

         주가_10_13  주가_10_14
Symbol
A000020   24300.0   23850.0
A000030   14800.0   14800.0
A000040     850.0     874.0
A000050   10850.0   10800.0
A000060   13700.0   13550.0
A000070   63000.0   61800.0
A000080   38700.0   38500.0
A000100   64100.0   63600.0
A000120  186500.0  180500.0
A000140   17300.0   17250.0
A000150   47500.0   47700.0
A000180    1715.0    1825.0
A000210   78300.0   76600.0
A000220   16600.0   16250.0

## .concat() - 여러 개의 DataFrame 합치기

In [7]:
pd.concat([df_a, df_b])

         itemname       Sector  주가_10_13  주가_10_14
Symbol
A000020      동화약품     제약_및_바이오       NaN       NaN
A000030      우리은행          NaN       NaN       NaN
A000040     KR모터스     자동차_및_부품       NaN       NaN
A000050        경방  내구_소비재_및_의류       NaN       NaN
A000060     메리츠화재           보험       NaN       NaN
A000070     삼양홀딩스           소재       NaN       NaN
A000080     하이트진로     음식료_및_담배       NaN       NaN
A000100      유한양행     제약_및_바이오       NaN       NaN
A000120    CJ대한통운           운송       NaN       NaN
A000140  하이트진로홀딩스     음식료_및_담배       NaN       NaN
A000150        두산          자본재       NaN       NaN
A000180    성창기업지주           소재       NaN       NaN
A000210      대림산업          자본재       NaN       NaN
A000220      유유제약     제약_및_바이오       NaN       NaN
A000020       NaN          NaN   24300.0   23850.0
A000030       NaN          NaN   14800.0   14800.0
A000040       NaN          NaN     850.0     874.0
A000050       NaN          NaN   10850.0   10800.0
A000060       NaN          NaN   13700.0   13550.0
A000070       NaN          NaN   63000.0   61800.0
A000080       NaN          NaN   38700.0   38500.0
A000100       NaN          NaN   64100.0   63600.0
A000120       NaN          NaN  186500.0  180500.0
A000140       NaN          NaN   17300.0   17250.0
A000150       NaN          NaN   47500.0   47700.0
A000180       NaN          NaN    1715.0    1825.0
A000210       NaN          NaN   78300.0   76600.0
A000220       NaN          NaN   16600.0   16250.0

In [8]:
my_concat_df = pd.concat([df_a, df_b], axis=1) #axis=1 ; 가로로 붙여주세요! 
my_concat_df

         itemname       Sector  주가_10_13  주가_10_14
Symbol
A000020      동화약품     제약_및_바이오   24300.0   23850.0
A000030      우리은행          NaN   14800.0   14800.0
A000040     KR모터스     자동차_및_부품     850.0     874.0
A000050        경방  내구_소비재_및_의류   10850.0   10800.0
A000060     메리츠화재           보험   13700.0   13550.0
A000070     삼양홀딩스           소재   63000.0   61800.0
A000080     하이트진로     음식료_및_담배   38700.0   38500.0
A000100      유한양행     제약_및_바이오   64100.0   63600.0
A000120    CJ대한통운           운송  186500.0  180500.0
A000140  하이트진로홀딩스     음식료_및_담배   17300.0   17250.0
A000150        두산          자본재   47500.0   47700.0
A000180    성창기업지주           소재    1715.0    1825.0
A000210      대림산업          자본재   78300.0   76600.0
A000220      유유제약     제약_및_바이오   16600.0   16250.0

## .groupby() – 그룹으로 묶어서 Aggregation 하기

In [9]:
my_concat_df

         itemname       Sector  주가_10_13  주가_10_14
Symbol
A000020      동화약품     제약_및_바이오   24300.0   23850.0
A000030      우리은행          NaN   14800.0   14800.0
A000040     KR모터스     자동차_및_부품     850.0     874.0
A000050        경방  내구_소비재_및_의류   10850.0   10800.0
A000060     메리츠화재           보험   13700.0   13550.0
A000070     삼양홀딩스           소재   63000.0   61800.0
A000080     하이트진로     음식료_및_담배   38700.0   38500.0
A000100      유한양행     제약_및_바이오   64100.0   63600.0
A000120    CJ대한통운           운송  186500.0  180500.0
A000140  하이트진로홀딩스     음식료_및_담배   17300.0   17250.0
A000150        두산          자본재   47500.0   47700.0
A000180    성창기업지주           소재    1715.0    1825.0
A000210      대림산업          자본재   78300.0   76600.0
A000220      유유제약     제약_및_바이오   16600.0   16250.0

In [10]:
my_concat_df.groupby('Sector').sum()

             주가_10_13  주가_10_14
Sector
내구_소비재_및_의류   10850.0   10800.0
보험            13700.0   13550.0
소재            64715.0   63625.0
운송           186500.0  180500.0
음식료_및_담배      56000.0   55750.0
자동차_및_부품        850.0     874.0
자본재          125800.0  124300.0
제약_및_바이오     105000.0  103700.0

In [11]:
my_concat_df.groupby('Sector').mean()

             주가_10_13       주가_10_14
Sector
내구_소비재_및_의류   10850.0   10800.000000
보험            13700.0   13550.000000
소재            32357.5   31812.500000
운송           186500.0  180500.000000
음식료_및_담배      28000.0   27875.000000
자동차_및_부품        850.0     874.000000
자본재           62900.0   62150.000000
제약_및_바이오      35000.0   34566.666667

In [12]:
my_concat_df.groupby('Sector').count()

             itemname  주가_10_13  주가_10_14
Sector
내구_소비재_및_의류         1         1         1
보험                  1         1         1
소재                  2         2         2
운송                  1         1         1
음식료_및_담배            2         2         2
자동차_및_부품            1         1         1
자본재                 2         2         2
제약_및_바이오            3         3         3

In [13]:
my_concat_df.groupby('Sector').max()

             itemname  주가_10_13  주가_10_14
Sector
내구_소비재_및_의류        경방   10850.0   10800.0
보험              메리츠화재   13700.0   13550.0
소재             성창기업지주   63000.0   61800.0
운송             CJ대한통운  186500.0  180500.0
음식료_및_담배     하이트진로홀딩스   38700.0   38500.0
자동차_및_부품        KR모터스     850.0     874.0
자본재                두산   78300.0   76600.0
제약_및_바이오         유한양행   64100.0   63600.0

## .query() - DataFrame 필터링하기

In [14]:
my_concat_df

         itemname       Sector  주가_10_13  주가_10_14
Symbol
A000020      동화약품     제약_및_바이오   24300.0   23850.0
A000030      우리은행          NaN   14800.0   14800.0
A000040     KR모터스     자동차_및_부품     850.0     874.0
A000050        경방  내구_소비재_및_의류   10850.0   10800.0
A000060     메리츠화재           보험   13700.0   13550.0
A000070     삼양홀딩스           소재   63000.0   61800.0
A000080     하이트진로     음식료_및_담배   38700.0   38500.0
A000100      유한양행     제약_및_바이오   64100.0   63600.0
A000120    CJ대한통운           운송  186500.0  180500.0
A000140  하이트진로홀딩스     음식료_및_담배   17300.0   17250.0
A000150        두산          자본재   47500.0   47700.0
A000180    성창기업지주           소재    1715.0    1825.0
A000210      대림산업          자본재   78300.0   76600.0
A000220      유유제약     제약_및_바이오   16600.0   16250.0

In [15]:
my_concat_df.query('Sector == "운송"')

        itemname Sector  주가_10_13  주가_10_14
Symbol
A000120   CJ대한통운     운송  186500.0  180500.0

In [16]:
my_concat_df.query('Sector == "제약_및_바이오"')

        itemname    Sector  주가_10_13  주가_10_14
Symbol
A000020     동화약품  제약_및_바이오   24300.0   23850.0
A000100     유한양행  제약_및_바이오   64100.0   63600.0
A000220     유유제약  제약_및_바이오   16600.0   16250.0

In [17]:
my_concat_df.query('주가_10_13 > 20000')

        itemname    Sector  주가_10_13  주가_10_14
Symbol
A000020     동화약품  제약_및_바이오   24300.0   23850.0
A000070    삼양홀딩스        소재   63000.0   61800.0
A000080    하이트진로  음식료_및_담배   38700.0   38500.0
A000100     유한양행  제약_및_바이오   64100.0   63600.0
A000120   CJ대한통운        운송  186500.0  180500.0
A000150       두산       자본재   47500.0   47700.0
A000210     대림산업       자본재   78300.0   76600.0

In [18]:
my_concat_df.query('주가_10_13 > 20000  and  Sector == "제약_및_바이오"')

        itemname    Sector  주가_10_13  주가_10_14
Symbol
A000020     동화약품  제약_및_바이오   24300.0   23850.0
A000100     유한양행  제약_및_바이오   64100.0   63600.0

### <연습문제 >
my_concat_df에서 업종이 '음식료 및 담배'인 레코드를 출력해보세요

In [20]:
my_concat_df.query('Sector == "음식료_및_담배"')

         itemname    Sector  주가_10_13  주가_10_14
Symbol
A000080     하이트진로  음식료_및_담배   38700.0   38500.0
A000140  하이트진로홀딩스  음식료_및_담배   17300.0   17250.0